* {
	box-sizing: border-box;
}

body {
	font-weight: 400;
	background-color: #000000;
	background-image: url('../images/meteor.png');
	background-size: 300px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom left;
	user-select: none;
	line-height: 1.5;
}

body,
html {
	width: 100%;
	height: 100%;
}

.navbar {
	background: #1833FF !important;
	width: 100%;
}

.btn-outline-primary {
	border-color: #1833FF;
	color: #1833FF;
}

.btn-outline-primary:hover {
	background-color: #1833FF;
	color: #ffffff;
}

.languagebar {
	width: 90%;
	max-width: 400px;
	padding-top: 10px;
	margin: auto;
	text-align: right;
	color: white;
}

.pageLabel {
	display: flex;
	width: 90%;
	max-width: 400px;
	margin: auto;
	color: white;
	font-size: 36px;
	font-family: Arial Black, Courier New, Arial;
}

.vertical-center {
	text-align: left;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	max-width: 400px;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	margin: auto;
	margin-bottom: 50px;	
	background: #ffffff;
}

#container {
	height: 500px;
}

#chatbox {
	padding: 5px;
}

.inner_div {
	padding: 5px 5px 5px 5px;
	overflow: auto;
	height: 500px;
	background-color: black;
	border-radius: 20px;
}

.message {
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	max-width: 90%;
	border-radius: 5px;
}

.item_left {
	margin-left: 15px;
	float: left;
	clear: both;		
}

.item_right {
	margin-right: 15px;
	float: right;
	clear: both;
}

.item_admin {
	margin-left: 15px;
	float: left;	
	clear: both;		
	color: black;
}

.message.item_left {
	background-color: #58b666;
}

.message.item_right {
	background-color: #6fbced;
}

.message.item_admin {
	background-color: gray;
}

.message_info {
	font-size: 13px;
	color: gray;
}

.input_area {
	padding: 15px;
	display: flex;
	justify-content: right;
	grid-auto-flow: column;
	grid-column-gap: 10px;
	border-radius: 20px;
}

#labelMessage {
	color: brown;
}

#countdownLabel {
	color: red;
}


table {
	border: #ccc 1px solid;
	border-radius: 3px;
	width: 100%;
}

table th {
	padding: 10px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table tr {
	text-align: left;
}

table td {
	padding: 5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.selectedDiv {
	border: 3px solid blue;
}

td.creator {
	color: red;
}

#image1 {
	background-image: url('../images/launchPad.png');
	background-position:center center;
	background-repeat:no-repeat;
	border: 1px red solid;
	height:600px;
	width:auto;
	display: flex;
	align-items: flex-end;
	padding-bottom: 40px;
}

#image2 {
	clip-path: inset(600px 0px 0px 0px);
	border: 1px green solid;
}